html {
    height: 100%;
    padding: 0;
    margin: 0;
}
body {
    background-color: whitesmoke;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}
header {
    background: white;
    height: 8%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}
.headerLogo {
    height: 80%;
}
header input {
    width: 350px;
    height: 30px;
    margin-left: 5px;
    padding-left: 10px;
    border: 1px solid black;
    border-radius: 25px;
}
.searchIcon {
    width: 30px;
    margin-left: 100px;
}
.supportIcon {
    width: 30px;
    margin-left: auto;
    margin-right: 15px;
}
.notificationsIcon {
    width: 30px;
    margin-right: 15px;
}
.appsIcon {
    width: 30px;
    margin-right: 15px;
}
.profileIcon {
    width: 30px;
    margin-right: 30px;
}
.pageLayout {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    height: 87%;
}
.navigation {
    background-color: #EC0B43;
    color: white;
    width: 270px;
    height: 100%;
}
.navigation ul {
    padding-top: 40px;
}
.navigation li {
    list-style-type: none;
    padding-bottom: 10px;
}
.navigation a {
    color: white;
}
.navigation a:link {
    text-decoration: none;
}
.navigation a:visited {
    color: white;
}
.navigation a:hover {
    cursor: pointer;
    text-decoration: underline;
}
.navigation a:active {
    cursor: pointer;
    text-decoration: underline;
}
.mainContent {
    display: flex;
    flex-direction: column;
}
.mainContent h2 {
    vertical-align: middle;
    line-height: 70px;
    height: 70px;
    width: 500px;
    font-size: 2.25em;
    margin-left: 60px;
    padding-left: 50px;
    margin-top: 30px;
    color: white;
    background-color: #58355E;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
#activeCustomers {
    margin-left: 60px;
}
#activeCustomers h3 {
    box-sizing: border-box;
    background-color: #D6FFB7;
    width: 100%;
    padding-left: 50px;
    margin-bottom: 0px;
    vertical-align: middle;
    line-height: 40px;
    height: 40px;
}
#activeCustomers table, th, td {
    border: 1px solid rgb(210, 210, 210);
    border-collapse: collapse;
    padding: 10px 60px 10px 60px;
    background-color: rgba(214, 255, 183, 0.15);
}
#activeCustomers table td:first-child, table th:first-child {
    padding: 10px 10px 10px 10px;
}
.addCustomer {
    font-style: italic;
}
.addCustomer:hover {
    cursor: pointer;
    background-color: #D6FFB7;
}
footer {
    background-color: white;
    height: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
footer p {
    margin-right: 30px;
    margin-left: 30px;
}
footer a {
    text-decoration: none;
    color: black;
}