html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}
body {
    background-color: #F4F4F9;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
}
.sidebar {
    background-color: #586F7C;
    width: 220px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    margin: 0;
    font-size: x-large;
    font-weight: bold;
    color: whitesmoke;
}
.sidebar li {
    list-style: none;
}
.staffNav {
    cursor: pointer;
}
.staffNavSubMenu {
    display: none;
    font-size: smaller;
}
.customersNav {
    cursor: pointer;
}
.productsNav {
    cursor: pointer;
}
.servicesNav {
    cursor: pointer;
}
.staffCard {
    cursor: pointer;
}
.customersCard {
    cursor: pointer;
}
.projectsCard {
    cursor: pointer;
}
.salesCard {
    cursor: pointer;
}
.productsCard {
    cursor: pointer;
}
.servicesCard {
    cursor: pointer;
}
#mainContent {
    flex: 1; /* Sets mainContent to take all remaining space in the body to the right of the sidebar*/
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box; /* Ensures mainContent element total size starts at border and works in, so any padding / margins etc. shrink the content size rather than expanding the element size outside the border*/
}
.cards {
    margin-top: 100px;
    display: grid;
    column-gap: 50px;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    align-content: center;
}
.cards h2 {
    background-color: #EF7B45;
    display: flex;
    border-radius: 25px;
    height: 200px;
    width: 300px;
    font-size: 2em;
    justify-content: center;
    align-items: center;
}
#staffCardPopup {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 47%;
    left: 57%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 600px;
    background-color: #08D993;
    border-radius: 25px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
    z-index: 1000;
    align-items: center;
    justify-content: center;
}
#staffCardPopup h3 {
    font-size: 2em;
}
#staffCardNavGrid {
    display: grid;
    font-size: 1.25em;
    grid-template-columns: auto auto auto auto;
    align-content: space-evenly;
}
#staffCardPopup img {
    width: 90px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 40px;
}
#staffCardPopup p {
    margin-right: 80px;
}
#staffCardPopupClose {
    display: flex;
    background-color: #F4F4F9;
    border-radius: 25px;
    height: 30px;
    width: 100px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.25em;
}
.footerBar {
    background-color: black;
    border-radius: 25px;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: auto;
    width: 100%;
    box-sizing: border-box;
}
.footerBar a {
    font-size: smaller;
}
.footerBar a:link {
    color: white;
    text-decoration: none;
}
.footerBar a:visited {
    color: white;
    text-decoration: none;
}
.footerBar a:hover {
    color: white;
    text-decoration: none;
}
.footerBar a:active {
    color: white;
    text-decoration: none;
}